body,
html{
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*Using flex to vertically and horizontal align elements*/
.centering{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.centering-text{
  text-align: center;
}

.full-height{
  height: 100%;
}

.full-width{
  width: 100%;
}

.responsive-video.video-heigth{
  height: 450px;
}

.no-padding{
  padding: 0px;
}

a.no-decoration,
a.no-decoration:link,
a.no-decoration:visited,
a.no-decoration:hover,
a.no-decoration:active{
  text-decoration: none;
}

.page-views{
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: auto;
  width: 100%;
}

#acm-nav{
  height: 136px;
  line-height: 136px;
  background: white;
  box-shadow: none;
}

nav ul a.link-font-color{
  color: black;
}

.top{
  margin-top: 0;
}

.title{
  text-align: center;

}

/********************************************
home.html
*********************************************/
.slider {
  width: 90%;
}

.slider .slides img.acm-slide-pics{
  height: 600px;
}

/* Materialize class*/
.slider .indicators{
  bottom: 50px;
  z-index: 1001;
}

.slider .indicators .indicator-item{
  height: 8px;
  width: 8px;
}

#footer{
  background-color: #25282d;
  width: 100%;
  bottom: 0;
  color: #8a8f97;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

#footer .footer-links-row{
  margin: auto;
  height: 120px;
  width: 70%;
}

#footer .footer-links-row a.footer-links{
  color: #8a8f97;
}

#footer .footer-links-row a.footer-links:hover{
  color: #bdbdbd;
}

#footer .footer-trade-mark{
  margin: auto;
  height: 80px;
  width: 70%;
  border-top: 1px solid #8a8f97;
  text-align: center;
}

#footer .modal .church-location-row{
  color: black;
  margin: 0px;
}

#angeloPic{
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.modal .modal-close-button-row{
  text-align: right;
}

.modal a.modal-x-button{
  padding-right: 5px;
  color: black;
}

.modal a.modal-x-button:hover{
  color: #8a8f97;
}
