/**************************************************************
 * Universal configuration
 **************************************************************/

body,
html{
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*Using flex to vertically and horizontal align elements*/
.centering{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.centering-text{
  text-align: center;
}

.full-height{
  height: 100%;
}

.full-width{
  width: 100%;
}

a.no-decoration,
a.no-decoration:link,
a.no-decoration:visited,
a.no-decoration:hover,
a.no-decoration:active{
  text-decoration: none;
}

.page-views{
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: auto;
  margin-top: 136px;
  width: 100%;
}

.no-padding{
  padding: 0px;
}

/**************************************************************
 * index.html
 **************************************************************/

#acm-nav{
  height: 136px;
  line-height: 136px;
  background: white;
}

#acm-nav .nav-wrapper.nav-style{
  position: fixed;
  z-index: 9999;
  background: white;
  width: 100%;
  height: 136px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
/*box-shadow: none;*/
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

#acm-nav .nav-wrapper.nav-style .button-collapse.acm-side-nav-style{
  color: #23527c;
}


nav ul a.link-font-color{
  color: black;
  font-size: 1.2em;
}

.title{
  text-align: center;
}

#footer{
  background-color: black;
  width: 100%;
  margin-bottom: 0;
  color: white;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  text-align: center;
}

#footer .acm-footer-links{
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 1.2em;
}

#footer .acm-footer-links .footer-link-styles{
  color: white;
}

#footer .acm-footer-logo-col{
  margin-bottom: 20px;
}

#footer .last-updated-col{
  margin-bottom: 10px;
  font-size: .9em;
}

/**************************************************************
 * home.html
 **************************************************************/

/*.slider {
  width: 90%;
}*/

.acm-home-style{
  padding-left: 5%;
  padding-right: 5%;
}

.acm-home-style .slider .slides img.acm-slide-pics{
  height: 600px;
}

/* Materialize class*/
.acm-home-style .slider .indicators{
  bottom: 50px;
  z-index: 1001;
}

.acm-home-style .slider .indicators .indicator-item{
  height: 8px;
  width: 8px;
}

.acm-home-style .acm-description-font{
  font-size: 18px;
}

/********************************************
community.html
*********************************************/

.comm-description-container{
  padding-left: 10%;
  padding-right: 10%;
}

.comm-description-container .paragraph-style{
  text-align: left;
}

.responsive-video.comm-video-height{
  height: 400px;
  width: 711px;
}

/********************************************
events.html
*********************************************/

.acm-events-container{
  border: 1px solid black;
}
